
.modal {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	position: absolute;
	top: -9000px;
	left: -9000px;
}

.modal .modalContent {
	background-color: #fff;
	border: 1px solid #555;
	position: relative;
}

.modal .loading {
	display: block;
	margin: 10px auto;
}

.modal .modalContent .modalTitle {
	font-size: 14px;
	color: #fff;
	background-color: #6d84b4;
	border: 1px solid #3b5998;
	font-weight: bold;
	margin: -1px;
	margin-bottom: 0;
	padding: 5px 10px;
}

.modal .modalContent .modalDraggable {
	cursor:move;
}

.modal .modalContent .modalMessage {
	overflow: auto;
	margin: 0;
	position: relative;
	padding: 5px 10px;
	border: 1px solid #fff;
}

.modal .modalContent .modalMessage h3,
.modal .modalContent .modalMessage h4,
.modal .modalContent .modalMessage h5,
.modal .modalContent .modalMessage h6 {
	margin-top: 6px;
}

.modal .modalContent .modalButtons {
	background-color: #f2f2f2;
	padding: 6px 10px;
	text-align: right;
}
.modal .modalContent .modalButtons.top   {border-bottom:1px solid #ccc;}
.modal .modalContent .modalButtons.bottom{border-top   :1px solid #ccc;}

.modal .modalButtons label {
	font-size: 13px;
	border-style: solid;
	background:#5972a7;
	cursor:pointer;
	font-weight:bold;
	padding:2px 6px 2px 6px;
	text-align:center;
	vertical-align:top;
	white-space:nowrap;
	border-width:1px;
	margin-left:3px;
	background-position:0 0;
	border-color:#999;
	line-height:normal !important;
	display:inline-block;
}

.modal .modalButtons label input {
	background:none;
	border:0 !important;
	cursor:pointer;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-weight:bold;
	margin:0;
	padding:1px 0 2px;
	white-space:nowrap;
	text-align:center;
	color:#fff;
	font-size:13px;
	border: 2px outset buttonface;
	text-indent:0;
	text-shadow:none;
	display:inline-block;
	color:#444;
	font-size:13px;
}
/* ie6 hacks */
* html .modal .modalButtons label input { border:0; }

.modal .modalButtons label input { color:#fff; }

.modal .hiddenButton {	visibility: hidden;}

.modal .modalOverlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background:url(fbloader.gif) center center no-repeat #fff;
}

.modal .modalMessageBox	{ 
	overflow: auto;
	padding: 10px 10px;
	min-height: 20px;
	position:relative;
}

/* SimpleBox specifics rules */

.modal .modalBackground {
	position : absolute;
	width : 100% !important;
	height : 100%;
	border-radius : 10px;
	background : grey;
	opacity : 0.5;
}
.modal .modalBackground+.modalContent {
	margin : 10px;
	border-radius : 5px;
}
.modal .modalBackground+.modalContent>div:first-child {
	border-radius : 5px;
}
.modal .modalBackground+.modalContent>div:nth-last-child(2){
	border-radius : 5px;
}

/* Table content specifics rules */

.modal td {
	padding: 0;
	margin: 0;
	background-color: transparent;
	vertical-align: top;
	font-family: 'Verdana';
	font-size: 11px;
}

.modal .centerLeft, .modal .centerRight {
	width: 10px;
	height: auto;
	background-image: url(b.png);
	background-repeat: repeat-y;
}

.modal .topLeft, .modal .topRight, .modal .bottomLeft, .modal .bottomRight {
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
}

.modal .topLeft {
	background-image: url(tl.png);
	background-position: top left;
}

.modal .topRight {
	background-image: url(tr.png);
	background-position: top right;
}

.modal .bottomLeft {
	background-image: url(bl.png);
	background-position: bottom left;
}

.modal .bottomRight {
	background-image: url(br.png);
	background-position: bottom right;
}

.modal .topCenter, .modal .bottomCenter {
	width: auto;
	height: 10px;
	background-image: url(b.png);
	background-repeat: repeat-x;
}


/* Image specifics css rules */

.modal .modalMessageBoxImage {
	overflow: hidden;
	padding: 0;
	background:url(fbloader.gif) center center no-repeat #fff;
}

.modal .modalMessageBoxImage img {
	display: block;
}
